<!DOCTYPE html>
<html>
<head>
  <title>Online Lending</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <p><%= e %></p>
  <% end %>
<% end %>
<% if current_user %>
  <% if session[:lender_id] %>
    <form action='/lenders/sessions' method='post'>
      <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
      <input type='hidden' name='_method' value='delete'>
      <input id="logout" type='submit' value='Log Out'>
    </form>
  <% else %>
      <form action='/borrowers/sessions' method='post'>
        <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
        <input type='hidden' name='_method' value='delete'>
        <input id="logout" type='submit' value='Log Out'>
      </form>
  <% end %>
<% end %>
<%= yield %>
</body>
</html>
